@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --white: #f5f5f5;
    --black: #1a1110;
  }
}

/* This is a fix for Iphones so these classes work */
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }

  .max-h-screen {
    max-height: -webkit-fill-available;
  }

  .min-h-screen {
    min-height: -webkit-fill-available;
  }
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-Light.ttf") format("truetype");
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-Black.ttf") format("truetype");
  font-weight: bolder; /* Black weight */
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-Italic.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-LightItalic.ttf") format("truetype");
  font-weight: 300; /* Light weight */
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-BoldItalic.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-BlackItalic.ttf") format("truetype");
  font-weight: 900; /* Black weight */
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url("/assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 1 999; /* The range of weight this font supports */
  font-stretch: 50% 200%; /* The range of stretch this font supports */
}

@font-face {
  font-family: "DMSans";
  src: url("/assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 1 999; /* The range of weight this font supports */
  font-style: italic;
  font-stretch: 50% 200%; /* The range of stretch this font supports */
}

* {
  font-family: DMSans, sans-serif;
}
