@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --white: #f5f5f5;
    --black: #1a1110;
  }
}

/* This is a fix for Iphones so these classes work */
@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }

  .max-h-screen {
    max-height: -webkit-fill-available;
  }

  .min-h-screen {
    min-height: -webkit-fill-available;
  }
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-Light.ttf") format("truetype");
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-Black.ttf") format("truetype");
  font-weight: bolder; /* Black weight */
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-Italic.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-LightItalic.ttf") format("truetype");
  font-weight: 300; /* Light weight */
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-BoldItalic.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  src: url("/assets/fonts/Merriweather-BlackItalic.ttf") format("truetype");
  font-weight: 900; /* Black weight */
  font-style: italic;
}

@font-face {
  font-family: "DMSans";
  src: url("/assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 1 999; /* The range of weight this font supports */
  font-stretch: 50% 200%; /* The range of stretch this font supports */
}

@font-face {
  font-family: "DMSans";
  src: url("/assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 1 999; /* The range of weight this font supports */
  font-style: italic;
  font-stretch: 50% 200%; /* The range of stretch this font supports */
}

* {
  font-family: DMSans, sans-serif;
}

.blob-container {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  filter: blur(30px);
  z-index: -1;
  width: 80%;
  height: 80%;
  overflow: hidden;
  position: absolute;
  display: flex;
  align-items: center;
}

h1 {
  color: #1f1f1f;
  font-size: 20vmin;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 2px;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vmax;
  z-index: -1;
  animation: move 10s ease-in-out infinite;
  transform-origin: 50% 50%;
}

#blob-path {
  animation: colorChange 10s infinite;
  color: #1f1f1f;
}

.change-bgColor {
  transition: background-color 0.5s;
}

.animate-colorChange {
  animation: colorChange 10s linear infinite;
}

@keyframes colorChange {
  0% {
    fill: theme("colors.rose.300"); /* Tailwind Rose 300 */
  }
  25% {
    fill: theme("colors.blue.300"); /* Tailwind Blue 300 */
  }
  50% {
    fill: theme("colors.green.300"); /* Tailwind Green 300 */
  }
  75% {
    fill: theme("colors.amber.300"); /* Tailwind Amber 300 */
  }
  100% {
    fill: theme("colors.rose.300"); /* Tailwind Rose 300 */
  }
}

@keyframes move {
  0% {
    transform: scale(0.75) translate(97%, -20%);
  }
  38% {
    transform: scale(0.7, 0.8) translate(108%, -10%) rotate(160deg);
  }
  40% {
    transform: scale(0.7, 0.8) translate(108%, -10%) rotate(160deg);
  }
  78% {
    transform: scale(0.7) translate(107%, -16%) rotate(-20deg);
  }
  80% {
    transform: scale(0.7) translate(107%, -16%) rotate(-20deg);
  }
  100% {
    transform: scale(0.75) translate(97%, -20%);
  }
}

.title {
  text-wrap: balance;
}

.toast {
  visibility: hidden;
  background-color: #333;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.show-toast {
  visibility: visible;
}
