---
import AboutMeContainer from "@components/AboutMeContainer";
import PageTitle from "@components/PageTitle";
import PageLayout from "@layouts/PageLayout";
---

<PageLayout title="Natalia">
  <div class="items-center flex flex-col w-full">
    <PageTitle>A little bit about me</PageTitle>
    <AboutMeContainer />
  </div>
</PageLayout>
