---
import PageTitle from "@components/PageTitle";
import PageLayout from "@layouts/PageLayout.astro";
import { PiArrowCircleRightFill } from "react-icons/pi";
---

<PageLayout title="Natalia">
  <main class="items-center flex flex-col w-full my-6">
    <PageTitle>A little bit about me</PageTitle>
    <div
      class="w-20 h-20 ring-4 ring-primary rounded-full mb-4 overflow-hidden"
    >
      <img src="/images/me.jpg" alt="Natalia" />
    </div>
    <ul class="list-disc px-12 space-y-3">
      <li>
        Working as a Full-Stack Developer at <a
          href="https://www.viumeupet.com.br/"
          target="_blank"
          class="font-medium">Viu meu pet</a
        >
        <span class="text-gray"> since May 2023</span>

        <ul class="ml-4 list-disc marker:text-primary">
          <li>
            Platform for locating lost pets via Meta (Facebook and Instagram)
            API
          </li>
          <li>
            Lead the design: Figma Mockups and Tokens, migration from CSS to
            TailwindCSS
          </li>
          <li>
            Data definition and queries with PostgreSQL, database migrations
            with prisma
          </li>
          <li>
            Reusable React components, optimized render cycles, custom hooks for
            state management, routing via Next.js
          </li>
          <li>
            Handled TypeScript and JavaScript code quality by managing lint
            errors and actively resolving bugs
          </li>
          <li>Deployment on Vercel, CI/CD with GitHub Actions</li>
          <li>SEO and performance optimization (web vitals)</li>
          <li>Version control using git and pull requests on GitHub</li>
        </ul>
      </li>
      <li>
        Working as a Freelance Web Developer
        <span class="text-gray"> since Jan 2023</span>
        <ul class="ml-4 list-disc marker:text-primary">
          <li>Visual Identity, design mockups, logo and branding</li>
          <li>
            HTML, CSS, JavaScript, TypeScript, React, Next.js, TailwindCSS to
            create components and reusable UI using page routing
          </li>
          <li>Web vitals, Google Analytics, SEO, performance optimization</li>
          <li>
            DNS configuration, domain registration, SSL certificate, deployment
          </li>
        </ul>
      </li>
      <li>
        Studying Computer Science at <a
          href="https://www.unisinos.br/"
          class="font-medium"
          target="_blank">Unisinos</a
        > University
        <span class="text-gray"> since March 2023</span>
      </li>
    </ul>

    <a
      href="/projects"
      class="flex gap-md items-center mt-4 text-sm font-medium text-white bg-black px-4 py-2 rounded-md"
      >Check my projects
      <PiArrowCircleRightFill className="inline-block ml-2" size={20} />
    </a>
  </main>
</PageLayout>
