---
import Title from "@components/Title";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Natalia">
  <main class="items-center flex flex-col w-full">
    <Title>About Me</Title>
  </main>
</PageLayout>
