---
import Hero from "src/components/Hero";
import PageLayout from "src/layouts/PageLayout.astro";
---

<PageLayout title="Natalia">
  <main class="justify-center flex-col items-center flex w-full">
    <Hero />
  </main>
</PageLayout>
