---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Natalia">
  <main class="items-center flex flex-col w-full">
    <div>ViuMeuPet</div>
    <div>Silvia's Design</div>
    <div>Project 3</div>
  </main>
</PageLayout>
