---
import Cube from "@components/Cube";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout title="Natalia">
  <main class="justify-center flex-col items-center flex w-full">
    <Cube />
  </main>
</PageLayout>
