---
import { GoogleAnalytics } from "astro-google-analytics";
import "../styles/global.css";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/" href="/icon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/@phosphor-icons/web@2.0.3/src/fill/style.css"
    />
    <link rel="stylesheet" href="devicon.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
    <link rel="manifest" href="/manifest.json" />
    <title>{title}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"
    ></script>
    <GoogleAnalytics id="G-RQKP6XGB3T" />
  </head>
  <body class="min-h-screen flex flex-col flex-1">
    <script type="module" src="/main.js"></script>
    <slot />
  </body>
</html>
