---
import { contactInfo } from "src/utils/myInfo";
import Footer from "../components/Footer";
import Header from "../components/Header";
import Layout from "./Layout.astro";

const { title } = Astro.props;
---

<Layout title={`${contactInfo.name} - ${title}`}>
  <Header />
  <main class="w-full flex-grow flex-shrink h-full">
    <div
      class="flex flex-col items-center tablet:max-w-7xl w-full mx-auto py-md gap-md"
    >
      <slot />
    </div>
  </main>
  <Footer />
</Layout>
